
// Body
$body-bg: #f8fafc;
$theme:#2196F3;
// Typography
$font-family-sans-serif: "Quicksand", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Input 
$input-border:$theme;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-border-radius: 0;
$input-border-radius-large:0;
$input-border-radius-small:0;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$theme-colors: (
  "primary": #2196F3,
  "secondary": #E91E63,
  "success": #009688,
  "warning": #ff5722,
  "info": #00bcd4,
  "danger": #f44336,
  "white":#ffffff
);