
// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.alert{
  border:none;
  position: fixed;
  min-width:300px;
  top: 40px;
  right: 30px;
  z-index: 9000;
}
.title{
  font-weight: 300;
}